.root {
  display: flex;
  justify-content: center;
  gap: 7px;
  font-size: 16px;
  font-weight: 600;

  :global {
    li {
      &.selected {
        a {
          background-color: #de3b3b;
          color: #fff;
        }
      }

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border: 1px solid #de3b3b;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: #de3b3b;
          color: #fff;
        }
      }
    }
    .previous {
      margin-right: 10px;
    }

    .next {
      margin-left: 10px;
    }
  }
}
