@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;

      @media (max-width: 578px) {
        margin-right: 7px;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 578px) {
        font-size: 20px;
      }
    }

    p {
      color: #7b7b7b;

      @media (max-width: 578px) {
        display: none;
      }
    }
  }

  &__search {
    @media (max-width: 992px) {
      order: 3; // Помещаем в конец
      width: 100%;
      margin-top: 20px;
    }
  }
}
