.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 20px 12px 40px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 992px) {
    width: 100%;
  }
}

.icon {
  width: 26px;
  height: 26px;
  opacity: 0.4;
  position: absolute;
  left: 12px;
  top: 10px;
}

.cleanIcon {
  width: 20px;
  height: 20px;
  opacity: 0.4;
  position: absolute;
  right: 12px;
  top: 15px;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
